.Cart-Container {
    width: 70%;
    height: 85%;
   
    border-radius: 20px;
    
}

.Body-Container{
    margin: 0;
    padding: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header22 {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading {
    font-size: 20px;
    font-weight: 700;
    color: #2F3841;
}

.Action {
    font-size: 14px;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.Cart-Items {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 15%;
    text-align: center;
}
.image-box:hover{
    cursor: pointer;
}
.about {
    margin: 0;
    
    padding-top: 7.5%;
    height: 100%;
}

.title {
    margin-bottom: 15px;
    line-height: 10px;
    font-size: 27px;
    font-weight: 800;
    color: #202020;
}

.subtitle {
    margin-bottom: 15px;
    line-height: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #909090;
}

.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.count {
    font-size: 20px;
    font-weight: 900;
    color: #202020;
}

.prices {
    height: 100%;
    text-align: right;
}

.amount {
    margin-top: 70%;
    margin-right: 5%;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #202020;
}

.save {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
}

.remove {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

.checkout {
    float: right;
    margin-right: 5%;
    width: 28%;
}

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Subtotal {
    font-size: 22px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.total-amount {
    font-size: 30px;
    font-weight: 600;
    color: #202020;
}

.checkoutbutton {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 110%;
    height: 40px;
    border: none;
    background: #f77d0b;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #202020;
}